* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
@font-face {
  font-family: "Pacifico";
  src: url(../fonts/Pacifico/Pacifico-Regular.ttf),
    url(../fonts/Roboto/Roboto-Bold.ttf);
}

body {
  background-color: rgba(135, 207, 235, 1);
  font-family: " Roboto", sans-serif;
  height: 100vh;
  width: 100vw;
  user-select: none;
  overflow: hidden;
}

.container {
  cursor: default;
  color: #fff;
  height: 100%;
  display: grid;
  place-content: center;
  background-image: linear-gradient(to bottom, #734b6d, #29323a);
}

.toolbar {
  font-size: 14px;
  width: 100%;
  padding-bottom: 5px;
  font-style: italic;
}

.output {
  overflow: hidden;
  width: 400px;
  max-width: 100vw;
  margin: auto;
  height: 400px;
  padding: 20px;
  border-radius: 15px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: radial-gradient(
      rgba(41, 50, 58, 0.445),
      rgba(243, 157, 18, 0.412)
    ),
    url(../images/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.quote {
  font-size: 1.6rem;
  word-spacing: 2px;
  line-height: 1.5;
  padding-bottom: 5px;
  text-align: center;
}

.verse {
  text-align: right;
  font-size: 1.4rem;
  font-style: italic;
  width: 100%;
  float: right;
}

.quote,
.verse {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5), 1px -1px 2px #29323a;
}
